<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
window.onload = function() {
    window.path = ""
	// setup the button click
	document.getElementById("theButton").onclick = function() {
		doWork()
	};
	document.getElementById("theButton2").onclick = function() {
		data_path()
	};
	document.getElementById("theButton3").onclick = function() {
		return_path()
	};
}

function doWork() {
	// ajax the JSON to the server
	$.post("receiver", "run", function(){

	});
	// stop link reloading the page
    event.preventDefault();
}

function data_path() {
    // ajax the JSON to the server
    $.post("helper", "", function(data, status){
        console.log(data);
        window.path = data;
    });
    // stop link reloading the page
    event.preventDefault();
}

function return_path() {
    console.log(window.path);
    event.preventDefault();
}
</script>
This will send data using AJAX to Python:<br /><br />
<a href="" id="theButton">Click Me1</a>
<a href="" id="theButton2">Click Me2</a>
<a href="" id="theButton3">Click Me3</a>