<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <title>Test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h2 style="text-align:center">Multiple Slideshowz</h2>

        <input type="range" min="2" max="20" step="1" value="2" list="steplist" id="stepper">
        <datalist id="steplist">
            <option selected="selected">2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </datalist>&emsp;step: <span id="step_info"></span>

        <div id="slides"></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

        <script>
          var slideIndex = [];
          var slideId = [];
          var last_step = 2;

          function load_slides(num) {
            for (i=1; i<=num; i++) {
              slideIndex.push(1)
              slideId.push("mySlides"+i)
            }
            for (i=0; i<num; i++) {
              showSlides(1,i)
            }
          }

          function plusSlides(n, no) {
            showSlides(slideIndex[no] += n, no);
          }

          function showSlides(n, no) {
            var i;
            var x = document.getElementsByClassName(slideId[no]);
            if (n > x.length) {slideIndex[no] = 1}
            if (n < 1) {slideIndex[no] = x.length}
            for (i = 0; i < x.length; i++) {
               x[i].style.display = "none";
            }
            x[slideIndex[no]-1].style.display = "block";
          }

          function get_started() {
              data_path();
              add_css()

              $.post('html_slideshow', "", function(data, status) {
                document.getElementById("slides").innerHTML += data[1] // also loads the selector (see functions in html_helper.py file for more details)
                setCookie("num_images", data[0], 1)
                console.log(getCookie("num_images"))
              });
              setTimeout(function() {load_slides(getCookie("num_images"));}, 1000); // ensures the innerHTML content has loaded before continuing
              setTimeout(function() {reload()}, 2000); // refreshes for image loading
              setTimeout(function() {displayOne()}, 1000); // refreshes for image loading
              add_stepper()
          }
          get_started()

          function add_stepper() {
              var stepper = document.getElementById("stepper");
              var step_info = document.getElementById("step_info");
              step_info.innerHTML = stepper.value;
              stepper.oninput = function() {
                  step_info.innerHTML = stepper.value;
              }
          }

          function displayOne() {
            var e = document.getElementById("chooser");
            var graph_name = e.options[e.selectedIndex].text;
            var x = document.getElementsByClassName("slideshow-container")
            console.log(e)
            console.log(graph_name)
            console.log(x)

            for (i=0; i<getCookie("num_images"); i++) {
              if (x[i].id != graph_name) {
                x[i].style.display = "none"
              } else {
                x[i].style.display = "block"
              }
            }
          }

          function reload() {
            if (!window.location.hash) {
              window.location = window.location + '#loaded';
              window.location.reload();
            }
          }

          function data_path() {
            // ajax the JSON to the server
            $.post("helper", "", function(data, status){
                setCookie("path", data, 1);  // cookie stored for one day  
                setCookie("data_path", data + '/data', 1);  // cookie stored for one day
                setCookie("tmp_image_path", data + '/src/tmp/step')
                console.log(getCookie("path"));
                console.log(getCookie("data_path"));
                console.log(getCookie("tmp_image_path"));
            });
            // stop link reloading the page
            if (!(event === undefined)) {
                event.preventDefault();
            }
          }

          function setCookie(cname, cvalue, exdays) {
              var d = new Date();
              d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
              var expires = "expires="+d.toUTCString();
              document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
              console.log(document.cookie)
          }

          function getCookie(cname) {
              var name = cname + "=";
              var ca = document.cookie.split(';');
              for(var i = 0; i < ca.length; i++) {
                  var c = ca[i];
                  while (c.charAt(0) == ' ') {
                      c = c.substring(1);
                  }
                  if (c.indexOf(name) == 0) {
                      return c.substring(name.length, c.length);
                  }
              }
              return "";
          }

          function add_css() {
            var cssId = 'myCss';  // you could encode the css path itself to generate id..
            if (!document.getElementById(cssId))
            {
                var head  = document.getElementsByTagName('head')[0];
                var link  = document.createElement('link');
                link.id   = cssId;
                link.rel  = 'stylesheet';
                link.type = 'text/css';
                link.href = getCookie("path") + "/src/static/format.css";
                link.media = 'all';
                head.appendChild(link);
            }
          }

        </script>
    </body>
</html>